/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  .section-headline{
      h2 {
          margin-bottom: 40px;
      }  
    }
    padding-bottom: 80px;
    .info-box {
        color: $gray-900;
        background: $white;
        text-align: center;
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 20px 0 30px 0;
        height: 200px ;
        i {
            font-size: 32px;
            color: $primary;
            border-radius: 50%;
            padding: 8px;
            border: 3px dotted #f0f7fa;
          }
          h3 {
            font-size: 20px;
            color: $gray-700;
            font-weight: 700;
            margin: 12px 0;
          }
          p {
            margin: 0;
            line-height: 24px;
            font-size: 14px;
          }     
      }
      .php-email-form {
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 30px;
        background: $white;
        .validate {
            display: none;
            color: red;
            margin: 0 0 15px 0;
            font-weight: 400;
            font-size: 13px;
          }
          .error-message {
            display: none;
            color: $white;
            background: #ed3c0d;
            text-align: center;
            padding: 15px;
            font-weight: 600;
          }
          .sent-message {
            display: none;
            color: $white;
            background: $primary;
            text-align: center;
            padding: 15px;
            font-weight: 600;
          }
          .loading {
            display: none;
            background: $white;
            text-align: center;
            padding: 15px;
          }
          .loading:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 10px -6px 0;
            border: 3px solid $primary;
            border-top-color: #eee;
            -webkit-animation: animate-loading 1s linear infinite;
            animation: animate-loading 1s linear infinite;
          }
          input, textarea{
            border-radius: 0;
            box-shadow: none;
            font-size: 14px;
          } 
          input {
            padding: 20px 15px;
          }
          textarea {
            padding: 12px 15px;
          }
          button {
            &[type='submit']{
                background: $primary;
                border: 0;
                padding: 10px 24px;
                color: $white;
                transition: 0.4s;
            }
            &[type='submit']:hover {
                background-color: darken($primary, 8%);
              }
          } 
      }

  }
  
@include keyframes(animate-loading) {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}