/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services{
    a.services-icon {
        color: $gray-800;
        text-decoration: none;
        display: inline-block;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 20px;
        i{
            color: $gray-700;
        }
    }
    .services-details {
        margin-top: 40px;
        transition: all 0.5s ease 0s;
        &:hover{
            h4, .services-icon i{
                color: $primary;
            }
        }
        .btn {
            border-radius: 4px;
            padding: 6px 20px 8px 20px;
            border: 2px solid $gray-900;
            outline: none;
            &:hover{
                border-color: $primary;
            }
        }
    }
    .single-services > h4 {
        color: $gray-700;
        font-size: 24px;
        font-weight: 500;
    }
    .single-services > p {
        color: $gray-900;
        font-size: 14px;
    }
}


/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
    position: relative;
    background: rgba(248, 248, 248, 0.8) url("../../assets/img/facts.jpg") no-repeat fixed center top/cover;
    .test-overly {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .counters{
        padding-top: 40px;
        .facts-circular{
            display: inline-block;
            width: 160px;
            height: 160px;
            font-weight: 500;
            border: 6px solid rgba(255, 255, 255, 0.6);
            border-radius: 50%;
            padding: 35px 15px 0;
            position: relative;
            span {
                font-weight: bold;
                font-size: 48px;
                display: block;
                color: rgba(255, 88, 33, 0.9);
            }
        }
        .facts-h4 {
            padding: 25px 0 20px;
            color: $white;
            font-weight: 500;
            font-size: 18px;
        }       
    }
}